# Rabbit
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
ANALYZE_QUEUE=image_analyze_queue
RESULTS_QUEUE=image_results_queue

# Serwis A
SERVICE_A_URL=http://localhost:8001
DATABASE_URL=sqlite:///./service_a.db

# Ports
PORT_A=8001
PORT_B=8002
